{% extends 'base.html.twig' %}

{% block body %}

    <h1>Bienvenue dans ce blog</h1>


    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur illum obcaecati veniam sequi eligendi, dolor quod. 
    Voluptas tempore est dolorum aut excepturi? Sequi nemo soluta dolor atque quasi ab nobis?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia nemo, nesciunt qui similique non fugit aut harum natus aperiam voluptatibus, 
    consequuntur aspernatur voluptas explicabo voluptates, iure labore quod repudiandae sequi.</p>

{% endblock %}